<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gov.startups">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Sponsor_Requests"></activity>
        <activity android:name=".Company_Requests" />
        <activity android:name=".Startup_Messages" />
        <activity android:name=".gov_transactions" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartupMain" />
        <activity android:name=".SponsorMain" />
        <activity android:name=".searchSponsor" />
        <activity android:name=".Gov_Messages" />
        <activity android:name=".Search" />
        <activity android:name=".GovMain" />
        <activity android:name=".RegisterSponsor" />
        <activity android:name=".RegisterCompany" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Spon_Messages" />
        <activity android:name=".seeGovermentAds" />
    </application>

</manifest>